body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(215, 215, 215);
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: 16px;
}

h1 {
    color: gray;
    font-size: 3em;
    text-decoration: underline;
    background-color: yellow;
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 120px;
}

table {
    color: white;
    background-color: #1b1b3b;
    width: 60%;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
}

a {
    color: #ff6ec7;
}

a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px  rgba(255,110,199,0.5);
}

img {
    border: 2px solid #ff00ff;
    border-radius: 8px;
    width: 300px;
    box-shadow: blue -5px 5px;
}