body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(41, 41, 41);
    color: #ffffff;
    margin: 20px;
    text-align: center;
    cursor: url('cursor.png') 10 10, auto;
    background-image: url('https://file.garden/ZWlUCY4S7Xz2vypS/archived%20backgrounds/colours/purple/bgpurplecotton.gif');
    background-repeat: repeat;
}

h1 {
    background-color: rgb(126, 35, 35);
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 100px;
}

table {
    background-color: white;
    color: black;
    width: 60%;
    margin: 0 auto 10px auto;
}

th, td {
    border: 1px solid black;
}


a:hover {
    color: green;
}

img {
    width: 400px;
}

