body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(215,215,215);
    color: rgb(39,39,39);
    text-align: center;
    font-size: 16px;
}

h1 {
    color:rgb(16, 70, 20);
    text-decoration: underline;
    background-color:brown;
    font-size: 3em;
}

p, ul, ol, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5;
}

ul, ol {
    padding-left: 180px;
}

table {
    color: white;
    background-color: #1b1b3b;
    width: 60%;
    box-shadow: 5px -5px 10px black;
}

img {
    border: 2px solid #ff00ff;
    border-radius: 8px;
    width: 300px;
}